@import '../../../styles/common/imports';

li {
    @include padding(16px 8px);
    display: flex;

    >a {
        display: flex;
        width: 100%;
    }

    @media #{$desktop} {
        width: 25%;
    }

    article {
        @include border-radius(8px);
        overflow: hidden;
        background-color: $color-bg-light;
        width: 100%;
    }

    .img {
        position: relative;

        img {
            width: 100%;
        }
    }

    .profile {
        @include padding(16px);
    }
}