@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/screenreaders";
@import "~bootstrap/scss/utilities/spacing";

@import "../client/styles/common/imports";
@import "../client/styles/common/typography";

body {
    font-family: $font-family-default;
    font-size: $font-baseline;
}

.container {
    background-color: $bg-color-primary;
}

button {
    @extend %cursor;
    background-color: transparent;
    border: 0;
    outline: 0;
}

a,
[tabindex] {
    @extend %cursor;
    display: inline-block;

    &,
    &:hover,
    &:visited,
    &:focus {
        color: inherit;
        text-decoration: none;
    }
}

.caret {
    box-sizing: content-box;
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;

    &.up {
        border-bottom: 5px solid $border-color-caret;
        border-top: 0;
    }
}

.logo {
    display: inline-block;
    width: 48px;
    margin-right: 4px;

    img {
        width: 100%;
    }
}