@import '../../../styles/common/imports';

.search-filters {
    @include padding-bottom(16px);

    @media #{$desktop} {
        display: flex;
        justify-content: space-between;
    }
}

.sorting-section {
    label {
        @include margin-right(8px);
    }

    @media #{$desktop} {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}