@import '../../../styles/common/imports';

header {
    @include margin-bottom(16px);
    @include padding(4px 16px);
    margin-left: -15px;
    margin-right: -15px;

    @media #{$desktop} {
        display: flex;
        align-items: center;
    }
}

.logo {
    @include margin-right(16px);
    @include width(300px);

    img {
        @include margin(16px 0);
        width: 100%;
    }
}