@import "../../styles/common/imports";

%light-text-fixed {
    color: $color-secondary;
    font-size: 13px;
    max-width: 200px;
}

.hacker-news-feed {
    @extend %no-wrap;
    overflow-x: auto;

    table {
        @include table-fixed();

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: $bg-color-secondary;
                }
            }
        }

        th {
            @extend %no-wrap;
            $line-height: 16px/12px;
            padding: 4px;
            font-size: 12px;
            line-height: $line-height;
        }

        td {
            @extend %no-wrap;
            padding: 4px;

            &.url {
                @extend %light-text-fixed;
                @extend %ellipsis;
            }

            &.time {
                @extend %light-text-fixed;
                @extend %ellipsis;

                a {
                    display: inline;
                }
            }

            .upvote-control {
                button {
                    width: 100%;
                    padding: 12px 16px;
                }
            }
        }
    }
}

.recharts-responsive-container {
    margin-top: 24px;
}