@mixin table-fixed {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

@mixin table-responsive {
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
}