// Colors
$color-primary: #000000;
$color-secondary: #707070;

// Background colors
$bg-color-primary: #f6f6ef;
$bg-color-secondary: #dadada;
$bg-color-header: #ff742b;

// Border colors
$border-color-caret: #006400; 

// Font family
$font-family-default: Verdana,
Geneva,
Tahoma,
sans-serif;

// Font sizes
$font-baseline: 14px;