@import '../../../styles/common/imports';

ul.list-container {
    @include margin(0 -16px);
    @include padding(0 8px);
    list-style: none;
    background-color: $color-bg-dark;
    color: $color-text-light;
    display: flex;
    flex-wrap: wrap;

    @media #{$desktop} {
        margin: 0;
    }
}